@tailwind base;
@tailwind components;
@tailwind utilities;

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-size: 52px;
  line-height: 1em;
  padding: 0 0 20px;
  margin: 0 0 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #4c4c4c;
}
@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 40px;
    line-height: 1em;
    padding: 0 0 10px;
    margin: 0 0 30px;
  }
}
h3 {
  font-size: 42px;
  line-height: 1em;
  padding: 0;
  margin: 0 0 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #4c4c4c;
}
@media (max-width: 767px) {
  h3 {
    font-size: 36px;
    line-height: 1em;
    padding: 0 0 10px;
    margin: 0 0 30px;
  }
}
h4 {
  font-size: 26px;
  line-height: 1.154em;
  padding: 0;
  margin: 0 0 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #4c4c4c;
}
@media (max-width: 767px) {
  h4 {
    font-size: 24px;
    margin: 0 0 15px;
  }
}
h5 {
  font-size: 22px;
  line-height: 1.273em;
  padding: 0;
  margin: 0 0 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #272727;
}
h6 {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #272727;
}
