@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Inline Google Fonts as Next.js Automatic Webfont Optimization isn't working

  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
    rel="stylesheet"
  />
*/

/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u8w4BMUTPHjxsAUi-qJCY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u8w4BMUTPHjxsAXC-q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u_w4BMUTPHjxsI5wq_Gwft.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwaPGR_p.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem6YaGs126MiZpBA-UFUK0Xdc1UAw.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/memnYaGs126MiZpBA-UFUKXGUdhlIqOjjg.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFW50bbck.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0b.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UNirkOUuhp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*
Accessible focus effects
https://uxdesign.cc/create-better-accessible-focus-effects-75a3de27b8ba
*/

:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px rgb(7, 89, 133) !important;
  /* text-blue-brand === rgb(7, 89, 133) */
  border-color: transparent !important;
  border-radius: 3px;
}

h4,
h5,
h6 {
  font-family: "Lato", "Open Sans", sans-serif;
}

h1,
h2 {
  @apply text-5xl font-semibold text-gray-700;
  line-height: 1em;
  padding: 0 0 20px;
}

@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 40px;
    line-height: 1em;
    padding: 0 0 10px;
  }
}

h3 {
  @apply p-0 font-semibold text-gray-700;
  font-size: 42px;
  line-height: 1em;
  margin: 0 0 40px;
}

@media (max-width: 767px) {
  h3 {
    @apply text-4xl;
    line-height: 1em;
    padding: 0 0 10px;
    margin: 0 0 30px;
  }
}

h3.decor {
  padding: 0 0 45px;
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  h3.decor {
    padding: 0 0 25px;
    margin-bottom: 25px;
  }
}

h4 {
  @apply p-0 text-2xl font-bold text-gray-700;
  line-height: 1.154em;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  h4 {
    @apply text-2xl;
    margin: 0 0 15px;
  }
}

h5 {
  @apply p-0 text-xl font-bold text-gray-900 uppercase;
  line-height: 1.273em;
  margin: 0 0 20px;
}

h6 {
  @apply p-0 m-0 text-lg font-bold leading-6 text-gray-900;
}

.pricing {
  @apply relative w-full text-white;
  min-height: 614px;
}

.pricing:before {
  @apply absolute top-0 bottom-0 z-0 text-base leading-6 bg-white opacity-0;
  right: -100px;
  width: 625px;
  padding: 60px 100px;
  content: "";
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
}

.pricing:hover:before {
  opacity: 0.2;
  right: -50px;
}

.pricing .pricing-box {
  @apply absolute top-0 bottom-0 right-0 z-0 text-base leading-6;
  width: 525px;
  padding: 70px 100px 60px 120px;
  content: "";
  background-color: rgba(40, 168, 225, 0.95);
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
}

@media (max-width: 767px) {
  .pricing .pricing-box {
    width: 410px;
    right: -30px;
    padding: 40px 40px 40px 100px;
  }
}

.pricing .pricing-box .inside {
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
}

.pricing .pricing-box h3 {
  @apply pb-8 mb-12 text-white;
  line-height: 50px;
  /*background: url(/images/h-decor-trans.png) 0 bottom no-repeat;*/
}

.pricing .pricing-box .price-title {
  @apply p-0 text-lg font-bold leading-6 text-white uppercase;
  margin: 0 0 10px;
}

.pricing .pricing-box .price-text {
  @apply pb-8 mb-6;
  border-bottom: 1px solid #6bc0ed;
}

.pricing .pricing-box .price-action {
  @apply mt-6;
}

.price-carousel .slick-prev,
.price-carousel .slick-next {
  top: 20%;
}

.text-num {
  @apply relative mb-4;
}

.text-num:hover .text-num-num span {
  @apply text-white bg-blue-500;
}

.text-num-info {
  padding: 0 0 0 100px;
}

.text-num-title {
  @apply p-0 font-bold leading-7 text-white uppercase;
  margin: 20px 0 15px;
}

.text-num.last {
  @apply mb-0;
}

@media (max-width: 767px) {
  .text-num {
    @apply text-center;
  }
  .text-num-num {
    @apply relative top-0 w-16 ml-auto mr-auto text-center;
  }
  .text-num-info {
    @apply p-0;
  }
  .text-num-title {
    @apply text-xl leading-6;
    margin: 15px 0 15px;
  }
}

.testimonials-item {
  @apply text-center;
  margin: 12px 0 20px;
  padding: 35px 0 0;
}

.testimonials-item .testimonials-username {
  @apply text-lg font-bold text-gray-700;
  margin: 40px 0 10px;
}

@media (max-width: 767px) {
  .testimonials-item .testimonials-username {
    @apply text-sm;
  }
}

.testimonials-item .testimonials-text {
  @apply relative text-xl italic text-gray-600 bg-gray-200;
  padding: 50px 50px;
  line-height: 1.5em;
  border-radius: 16px;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.testimonials-item .testimonials-text * {
  @apply text-xl italic text-gray-600 bg-gray-200;
  line-height: 1.5em;
  font-family: Georgia, Times, "Times New Roman", serif;
}

@media (max-width: 767px) {
  .testimonials-item .testimonials-text {
    @apply text-base;
    padding: 24px 25px;
  }
}

@media (max-width: 767px) {
  .testimonials-item .testimonials-text:before {
    font-size: 40px;
    top: -15px;
  }
}

.testimonials-item .testimonials-text:after {
  @apply absolute w-0 h-0 -ml-4 pointer-events-none;
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  border-color: rgba(240, 246, 249, 0);
  border-top-color: #f0f6f9;
  border-width: 15px;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 0 0 40px;
  }
}

.testimonials-carousel {
  margin: 0 0 65px;
}
